<plugin id="com.oxygenxml.webhelp.localization">
    <!-- Plugin version -->
    <feature extension="package.version" value="2.0"/>
    <!-- Plugin dependency -->
    <require plugin="com.oxygenxml.webhelp.responsive"/>
    <!-- Define language file -->
    <feature extension="dita.xsl.strings" file="webhelp-extension-strings.xml"/>
</plugin>